/*Configuration des éléments généraux.*/
* {
    font-family: Arial, Helvetica, sans-serif, serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 146);
}
/* Style des titres*/
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}
h6 {
    font-size: 0.8rem;
}
*/
/*On poursuit avec la section navigation*/
nav {
    display: inline-block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
}

.barreNav {
    display: flex; /*allows me to modify the position of the li children of this ul (to center them)*/
    justify-content: space-evenly; /*centering the content of this ul*/
    list-style-type: none; /*no bullet point for this list*/
    margin: 0;
    padding: 0.5rem; /*setting padding around*/
    border: 0.1rem solid rgb(177, 0, 0);
    background-color: rgb(206, 0, 0);
}

a {
    text-decoration: none;
    display: block;
    background-color: rgb(206, 0, 0);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
/*Mise en forme du gros titre*/
header {
    text-align: center;
    padding: 0;
    border: 1px solid green;
    margin: 1.5rem 2rem 1.5rem 2rem;
}
/*Main*/
main {
    margin: 0.5rem;    
}

.centeredp {
    text-align: center;
    font-size: 1.3em;
}

.conteneurDeCode {
    display: block;
    font-size: 0.7em;
    width: fit-content;
    overflow-x:hidden;
    width: auto;
}
/*On s'occupe des tableaux*/
.tableaudebalises,.tableaudesymboles {
    border-collapse: collapse;
    display: block; 
    table-layout: fixed;
    font-size: 0.8rem;
    padding-left: 5%;
    overflow-x:hidden;
    width: auto;
    font-size: 15px;
}
/**/

/**/
th,td {
    border: 0.5px solid grey;
    padding: 3px;
}

/**/
.row-1 {
    font-size: 12px;
}

.odd {
    background-color: rgb(211, 211, 211);
}

.even {
    background-color: rgb(238, 237, 237);
}
